---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "@/layouts/Base.astro";
import BlogList from "@/components/blog/BlogList.astro";
import BlogAggregationLists from "@/components/blog/BlogAggregationLists.astro";

export async function getStaticPaths() {
    const allBlogPosts: CollectionEntry<"blog_ja">[] = await getCollection("blog_ja");
    const uniqueCategories = Array.from(new Set(allBlogPosts.flatMap(post => post.data.categories || [])));
    return uniqueCategories.map(category => ({
        params: { category },
    }));
}

const { category } = Astro.params;
const allBlogPosts: CollectionEntry<"blog_ja">[] = await getCollection("blog_ja");
const filteredPosts = allBlogPosts.filter(post => post.data.categories?.includes(category));
---

<Layout title={`カテゴリ: ${category} - Scriptone`}>
    <h2 class="text-3xl font-bold mb-4">カテゴリ: {category}</h2>
    {
        filteredPosts.length > 0 ? (
            <BlogList posts={filteredPosts} langCode="ja" />
        ) : (
            <p>このカテゴリの投稿はありません。</p>
        )
    }

    <BlogAggregationLists
        allBlogPosts={allBlogPosts}
        langCode="ja"
        archiveLabel="アーカイブ"
        categoryLabel="カテゴリ"
        tagLabel="タグ"
    />
</Layout>
