---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { getAggregatedData } from "@/lib/collections/data";
import Layout from "@/layouts/Base.astro";
import BlogList from "@/components/blog/BlogList.astro";
import BlogAggregationLists from "@/components/blog/BlogAggregationLists.astro";

export async function getStaticPaths() {
    const allBlogPosts: CollectionEntry<"blog_ja">[] =
        await getCollection("blog_ja");
    const { tags } = getAggregatedData(allBlogPosts);
    const uniqueTags = Array.from(new Set(Object.keys(tags)));
    return uniqueTags.map((tag) => ({
        params: { tag },
    }));
}

const { tag } = Astro.params;
const allBlogPosts: CollectionEntry<"blog_ja">[] =
    await getCollection("blog_ja");
const filteredPosts = allBlogPosts.filter((post) =>
    post.data.tags?.includes(tag)
);
---

<Layout title={`タグ: ${tag} - Scriptone`}>
    <h2 class="text-3xl font-bold mb-4">タグ: {tag}</h2>
    {
        filteredPosts.length > 0 ? (
            <BlogList posts={filteredPosts} langCode="ja" />
        ) : (
            <p>このタグの投稿はありません。</p>
        )
    }

    <BlogAggregationLists
        allBlogPosts={allBlogPosts}
        langCode="ja"
        archiveLabel="アーカイブ"
        categoryLabel="カテゴリ"
        tagLabel="タグ"
    />
</Layout>
