@import "tailwindcss";
@import "material-icons/iconfont/filled.css";

:root {
    --bg1: #fffae8;
    --bg2: #fffcf4;
    --bg3: #f5f2e8;
    --accent1: #00c2d1;
    --accent2: #86e3ed;
    --accent3: #009cac;
    --accent4: #00747c;
    --accent5: #609da2;
    --accent6: #58b7bd;
    --accent7: #004a50;
    --border1: #d4cfc0;
    --border2: #f0ece0;
    --border3: #967a2d;
    --shadow1: #dedecc;
}

html {
    font-size: 16px;
    line-height: 1.7em;
    scrollbar-color: var(--accent1) var(--bg3);
    overflow-x: hidden;
}

@media (max-width: 600px) {
    html {
        font-size: 18px;
    }
}

blockquote,
code {
    background-color: var(--bg2);
    padding: 12px 24px;
    border-radius: 8px;
    margin: 16px 0px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-bottom: 0.2em;
}
