<ul class="contents-list">
    <li class="contents-item" style="--item-index: 0"><a href="/about">About</a></li>
    <li class="contents-item" style="--item-index: 1"><a href="/diary">ダイアリー</a></li>
    <li class="contents-item" style="--item-index: 2"><a href="/project_sekai">プロジェクトセカイ</a></li>
</ul>

<style>
    .contents-list {
        list-style-type: disc;
        padding: 0 0 0 1em;
        margin: 0;
    }

    .contents-item {
        line-height: 1.5;
        padding: 0.5em;
    }

    .contents-item a {
        text-decoration: underline;
    }

    .contents-item a:hover {
        text-decoration: none;
        color: var(--accent3);
    }
</style>
