---
import { formatDateJapanese } from "@/lib/dateUtils";

const { date } = Astro.props as {
    date?: Date;
};
---

{
    date && (
        <div class="text-gray-500 mt-1 flex items-center">
            <i class="material-icons icon-small mr-2">calendar_month</i>{" "}
            <p class="mt-0.5">
                {date ? formatDateJapanese(date) : "N/A"}
            </p>
        </div>
    )
}
