---
const { date } = Astro.props as {
    date?: Date;
};
---

{
    date && (
        <div class="text-gray-500 mt-1 flex items-center">
            <i class="material-icons icon-small mr-2">calendar_month</i>{" "}
            <p class="mt-0.5">
                {date
                    ? `${date.getFullYear()}年${String(date.getMonth() + 1)}月${String(date.getDate())}日`
                    : "N/A"}
            </p>
        </div>
    )
}
