---
import Layout from "@/layouts/Base.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import DiaryList from "@/components/diary/DiaryList.astro";
// import { LIMIT_PER_PAGE, SITE_NAME } from "@/lib/constants";

const allBlogPosts: CollectionEntry<"diary">[] = await getCollection("diary");
const sortedPosts = allBlogPosts.sort((a, b) => {
    const dateA = a.data.date ? a.data.date.getTime() : 0;
    const dateB = b.data.date ? b.data.date.getTime() : 0;
    return dateB - dateA;
});
---

<Layout title="Diary - Scriptone">
    <div class="mb-8">
        <h2 class="text-2xl font-bold mb-4">ダイアリー</h2>
        <p class="text-gray-600 leading-relaxed my-2 text-sm">薬にも毒にもならないようなことを自由に書いています。</p>
    </div>
    <DiaryList posts={sortedPosts} />
</Layout>
