---
const {
    title,
    slug,
    lang_code = "ja",
} = Astro.props as {
    title: string;
    slug: string;
    lang_code?: string;
};
---

<div>
    <a
        class="font-bold text-3xl hover:underline"
        href={`/blog/${lang_code}/${slug}`}
    >
        {title}
    </a>
</div>
