---
const { title, slug, langCode } = Astro.props as {
    title: string;
    slug: string;
    langCode: string;
};
---

<div>
    <a
        class="font-bold text-3xl hover:underline"
        href={`/blog/${langCode}/${slug}`}
    >
        {title}
    </a>
</div>
