---
import { formatDateISO } from "@/lib/dateUtils";

const { date } = Astro.props as {
    date?: Date;
};
---

{
    date && (
        <div class="text-sm text-gray-600 mt-1 flex items-center">
            <i class="material-icons icon-small mr-1">schedule</i>{" "}
            {date ? formatDateISO(date) : "N/A"}
        </div>
    )
}
