---
import { formatDateISO } from "@/lib/dateUtils";

const { postDate, updatedDate } = Astro.props as {
    postDate: Date;
    updatedDate: Date | null;
};
---

{
    updatedDate && formatDateISO(postDate) !== formatDateISO(updatedDate) && (
        <div class="text-sm text-gray-600 mt-1 flex items-center">
            <i class="material-icons icon-small mr-1">update</i>{" "}
            {updatedDate ? formatDateISO(updatedDate) : "N/A"}
        </div>
    )
}
