---
import ExternalLinks from "./SNSLink.astro";
---

<footer>
    <div class="py-6">
        <ExternalLinks size={24} justify="center" />
    </div>
    <p>&copy; {new Date().getFullYear()} Scriptone. All rights reserved.</p>
</footer>

<style>
    footer {
        padding: 2rem;
        text-align: center;
    }
</style>
