---
import ExternalLinks from "./SNSLink.astro";
---

<footer>
    <div class="py-4">
        <ExternalLinks size={24} justify="center" />
    </div>
    <div class="py-4">
        <a href="/privacy_policy">Privacy Policy</a>
    </div>
    <p>&copy; {new Date().getFullYear()} Scriptone. All rights reserved.</p>
</footer>

<style>
    footer {
        padding: 2rem;
        text-align: center;
    }

    a {
        text-decoration: underline;
    }

    @media (max-width: 600px) {
        footer p {
            font-size: 0.9em !important;
        }
    }
</style>
