---

---

<section id="tools">
    <h2 class="text-3xl font-bold mt-2 mb-4">Tools</h2>
    <ul class="decoration">
        <li>
            <a href="/project_sekai/event_point_calculator"
                >独りんぼエンヴィーポイント計算</a
            >
        </li>
        <li>
            <a href="/project_sekai/simple_efficiency_table_for_prsk_music/"
                >プロセカ楽曲効率表</a
            >
        </li>
    </ul>
</section>

<style>
    a {
        text-decoration: underline;
    }
    a:hover {
        text-decoration: none;
    }
    #tools ul li {
        margin-left: 8px;
        padding-left: 16px;
        margin-bottom: 0.75em;
    }
    ul.decoration li:before {
        content: "✿";
        position: absolute;
        top: 0;
        left: 0;
        color: var(--accent-color);
    }

    #tools ul {
        text-align: left;
        margin-right: auto;
        padding-left: 0px;
    }
</style>
