---
import "../styles/global.css";
import "../styles/font.css";
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const {
    title = "Scriptone",
    description = "Scriptoneは、プログラミング、文房具、オーディオなど筆者の多様な趣味や購入品に関する情報を共有するサイトです。作成したプログラムの配布やナレッジシェアも行い、知識と体験をまとめています。AI時代に個の創造性を大切に、「書く」ことを通じて自分らしく生きるための一助となることを目指しています。",
} = Astro.props;
---

<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/scriptone_logo_icon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <meta name="description" content={description} />
        <script>
            window.requestIdleCallback(
                () => {
                    if (document.querySelector('script[src*="adsbygoogle"]'))
                        return;

                    const script = document.createElement("script");
                    script.src =
                        "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5016891070616278";
                    script.async = true;
                    script.crossOrigin = "anonymous";
                    script.dataset.adClient = "ca-pub-5016891070616278";
                    document.head.appendChild(script);

                    const initscript = document.createElement("script");
                    initscript.innerHTML =
                        "(adsbygoogle = window.adsbygoogle || []).push({});";
                    document.head.appendChild(initscript);
                },
                { timeout: 2000 }
            );
        </script>
    </head>
    <body>
        <Header />
        <div class="pt-12"></div>
        <main>
            <slot />
        </main>
        <Footer />
    </body>
    <script>
        if (
            /AppleWebKit/.test(navigator.userAgent) &&
            !/Chrome/.test(navigator.userAgent)
        ) {
            document.body.classList.add("is-webkit");
        }
    </script>
</html>

<style>
    body {
        background-color: var(--bg1);
    }
    body.is-webkit {
        font-family: sans-serif;
    }
    main {
        max-width: 1028px;
        margin: 0 auto;
        padding: 16px;
    }
</style>
